<body>
    <div class="cards">
        <div class="titulo-list-card">
            Lista de Agencias
        </div>
        <div class="list-card">

            <div class="card" *ngFor="let microagency of microAgencies; let i = index">
                <img class="imagen-card" [src]="microagency.photo" alt="">
                <div class="descripcion">
                    <div class="encabezado">
                        <div class="nombre">
                            {{microagency.name}}
                        </div>
                        <div class="estrellas">
                            <mat-icon class="estrella">star</mat-icon>
                            <mat-icon class="estrella">star</mat-icon>
                            <mat-icon class="estrella">star</mat-icon>
                            <mat-icon class="estrella">star</mat-icon>
                            <mat-icon class="estrella">star</mat-icon>
                        </div>
                    </div>

                    <div class="correo">
                        {{microagency.email}}
                    </div>
                    <div class="descripcion-agency">
                        {{microagency.description}}
                    </div>
                    <div class="datos">
                        <div class="item">
                            <div class="negrita">Ubicacion</div>
                            <p>{{microagency.location}}</p>
                        </div>
                        <div class="item">
                            <div class="negrita">RUC</div>
                            <p>{{microagency.ruc}}</p>
                        </div>
                        <div class="item">
                            <div class="negrita">Telefono</div>
                            <p>{{microagency.phoneNumber}}</p>
                        </div>
                    </div>
                </div>
                <div class="boton-viajes" (click)="search(microagency.id)">
                    ver viajes
                </div>
            </div>


        </div>
    </div>
</body>