<body>
    <div class="cards">
        <div class="titulo-list-card">
            Lista de viajes disponibles
        </div>
        <div   class="list-card">

            <div class="card" *ngFor="let service of services; let i = index" (click)="seeDetails(service.serviceId)">
                <img class="imagen-card" [src]="service.photos" alt="">
                <div class="descripcion">{{descriptions[i]}}</div>
                <div class="estrellas">
                    <mat-icon class="estrella" >star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                    <mat-icon class="estrella">star</mat-icon>
                </div>
                <div class="precio">
                    {{service.price}}
                </div>
            </div>

        </div>
    </div>
</body>