<body>
    <div class="cards">
        <div class="list-card">

            <div class="card">
                <div class="encabezado">
                    <div class="nombre">
                        {{agency.name}}
                    </div>
                    <div class="estrellas">
                    </div>
                </div>
                <div class="divide">
                    <div class="descripcion">

                        <div class="correo">
                            {{agency.email}}
                        </div>
                        <div class="descripcion-agency">
                            {{agency.description}}
                            {{agency.description}}
                            {{agency.description}}
                            {{agency.description}}
                            {{agency.description}}
                            {{agency.description}}
                        </div>
                        
                    </div>

                    <div class="logo_stars">
                        <img class="imagen-card" [src]="agency.photo" alt="">
                        <div class="">
                            <div class="estrellas">
                                <mat-icon class="estrella">star</mat-icon>
                                <mat-icon class="estrella">star</mat-icon>
                                <mat-icon class="estrella">star</mat-icon>
                                <mat-icon class="estrella">star</mat-icon>
                                <mat-icon class="estrella">star</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="datos">
                    <div class="item">
                        <div class="negrita">Ubicacion</div>
                        <p>{{agency.location}}</p>
                    </div>
                    <div class="item">
                        <div class="negrita">RUC</div>
                        <p>{{agency.ruc}}</p>
                    </div>
                    <div class="item">
                        <div class="negrita">Telefono</div>
                        <p>{{agency.phoneNumber}}</p>
                    </div>
                </div>

            </div>


        </div>

        <div class="cards-travel">
            <div class="titulo-btnAdd">
                <div class="titulo-list-card-travel">
                    Lista de viajes disponibles
                </div>
                <div class=""></div>
            </div>

            <div class="list-card-travel">

                <div class="card-travel" *ngFor="let travel of agency.services">
                    <div class="" (click)="seeDetails(travel.serviceId)">
                        <img class="imagen-card-travel" [src]="travel.photos" alt="">
                        <div class="estrellas-travel">
                        </div>
                        <div class="precio-travel">
                            $ {{travel.price}}.00
                        </div>
                    </div>

                    <div class="delete">
                        
                    </div>
                </div>

            </div>
        </div>


    </div>


</body>